footer {
  @include gradient($direction, $list1);
}

.footer-links {
	color: $footer-links;
}

.color-hr {
	color: $hr;
}



@media (max-width: 1023px) {
	.footer-lg {
		width: 100%;
		flex-wrap: wrap;
	}
}

@media (max-width: 767px) {
	.footer-menu-flex-md {
		display: flex;
		flex-direction: column;
	}

	.footer-padding-md {
		padding-bottom: 100px;
	}

	.footer-width-md {
		width: 80%;
	}

	.footer-links-hr-md {
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.footer-width-lg {
		width: 50%;
	}

}

@media (min-width: 375px) and (max-width: 424px) {
	.footer-left-s {
		padding-left: 30px;
	}
}
