html, body, h1, h2, h3, h4, h5, p, input {
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, sans-serif;
}

// Colors

$white: #fff;
$grey-link: #808080;
$grey-search-form-bg: #3C3B3D;
$grey-search-form-text: #808080;
$white-op:rgba($white, .1);
$green-main-btn-bg: #34C176;
$black-bg: #08020d;
$grey: #8C8C8C;
$orange: #F89202;
$line: #B8B8B8;
$date: #555555;
$btn-news: #E9E9E9;
$btn-mobile: #FF4157;
$color-grad1: #5328A1;
$color-grad2: #95390C;
$footer-links: #CACACA;
$hr: #EEEEEE;

$list1: $color-grad1 32.83%, $color-grad2 81.56%;

.color-line {
	color: $line;
}

.footer-links {
	color: $footer-links;
}

.color-hr {
	color: $hr;
}

.color-date {
	color: $date;
}

.active-link {
	color: $white;
}

.color-white {
	color: $white;
}

.color-grey {
	color: $grey;
}

.bg-btn-mobile {
	background-color: $btn-mobile;
}

.transp {
	background-color: transparent;
}

.main-input-bg-color {
	background-color: $white-op;
}

.color-orange {
	color: $orange;
}

.main-btn-bg {
	background-color:$green-main-btn-bg;
}

.bg-black {
	background-color: $black-bg;
}

// Width, height

.w-50 {
	width: 50%;
}

.w-30 {
	width: 30%;
}

.height-582 {
	height: 582px;
}

.w-100 {
	width: 100%;
}

.logo {
	img {
		width: 20px;
		height: 20px;
	}
}

.w-25 {
	width: 25%;
}


// Margin

.m-0-auto {
	margin: 0 auto;
}

.mt-25 {
	margin-top: 25px;
}

.ml-4 {
	margin-left: 4px;
}

.mt-29 {
	margin-top: 29px;
}

.ml-113 {
	margin-left: 113px;
}

.mr-75 {
	margin-right: 75px;
}

.mr-30 {
	margin-right: 30px;
}

.mt-217 {
	margin-top: 217px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mr-30 {
	margin-right: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mr-20 {
	margin-right: 20px;
}

.mt-20 {
	margin-top: 20px;
}

.ml-60 {
	margin-left: 60px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-21 {
	margin-right: 21px;
}

.mr-26 {
	margin-right: 26px;
}
// Padding

.pt-221 {
	padding-top: 221px;
}

.pt-25 {
	padding-top: 25px;
}

.main-input input{
	padding: 17px 221px 17px 20px;
}

.access {
	padding: 17px 222px;
}

.pt-100 {
	padding-top: 100px;
}

.pb-51 {
	padding-bottom: 51px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-230 {
	padding-bottom: 230px;
}

.pt-223 {
	padding-top: 223px;
}

.pt-230 {
	padding-top: 230px;
}

.pl-11 {
	padding-left: 11px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pl-20 {
	padding-left: 20px;
}

.pr-20 {
	padding-right: 20px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-70 {
	padding-top: 70px;
}

.btn-mobile {
	padding: 17px 57px;
}

.pt-80 {
	padding-top: 80px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-50 {
	padding-bottom: 50px;
}
// Fonts

.fw-b {
	font-weight: bold;
}

.fz-11 {
	font-size: 11px;
}

.fz-60 {
	font-size: 60px;
}

.fz-12 {
	font-size: 12px;
}

.fz-14 {
	font-size: 14px;
}

.fz-38 {
	font-size: 38px;
}

.fz-24 {
	font-size: 24px;
}

.fz-30 {
	font-size: 30px;
}

.fz-22 {
	font-size: 22px;
}

.fz-18 {
	font-size: 18px;
}

.fz-16 {
	font-size: 16px;
}
// Line-height

.lh-13 {
	line-height: 13px;
}

.lh-70 {
	line-height: 70px;
}

.lh-35 {
	line-height: 35px;
}

.lh-45 {
	line-height: 45px;
}

.lh-28 {
	line-height: 28px;
}

.lh-60 {
	line-height: 60px;
}

.lh-19 {
	line-height: 19px;
}

// Flex

.dflex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.align-start {
	align-items: flex-start;
}

// Links

.text-decor-none {
	text-decoration: none;
}

.link {
	color: $grey-link;
}

.border-n {
	border: none;
}

.outline-n {
	outline: none;
}

// Border

.br-50 {
	border-radius: 50px;
}

.main-input-border {
	border: 2px solid $white-op;
}

.br-3 {
	border-radius: 3px;
}

// 

.pos-abs {
	position: absolute;
}

.pos-relat {
	position: relative;
}

.header-pos {
	left: 0;
}

.container {
	width: 1200px;
}

.first-screen {
	background-image: url(../images/banner.png);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.search-form {
	background-color: $grey-search-form-bg;
	padding: 9px 220px 8px 14px;
	color: $grey-search-form-text;
}

.text-center {
	text-align: center;
}

.item-1 {
	background-image: url(../images/subscribe_1.png);
}

.item-2 {
	background-image: url(../images/subscribe_2.png);
}

.item-3 {
	background-image: url(../images/subscribe_3.png);
}

.item {
	background-repeat: no-repeat;
	background-size: cover;
}

.upper {
	text-transform: uppercase;
}

.subscribe {
	border: 4px solid $white;
	padding: 20px 80px;
}

.btn-news {
	border: 1px solid $btn-news;
	padding: 15px 25px;
}

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

$direction: 89.02deg;

footer {
  @include gradient($direction, $list1);
}


img.news {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
}

.footer-menu {
	width: 100%;
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.container {
		width: 1024px;
	}

	.h1-fz {
		font-size: 55px;
	}

	.first-screen {
		height: 72vh;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.container {
		width: 770px;
	}

	.flex-dir-col {
		flex-direction: column;
	}

	.justify-center-min {
		justify-content: center;
	}

	.order-1 {
		order: 1;
	}

	.order-2 {
		order: 2;
	}

	.order-3 {
		order: 3;
	}

	.justify-start-min {
		justify-content: flex-start;
	}

	.nav-a {
		margin-right: 43px;
		margin-left: 0px;
	}

	.first-screen {
		height: 72vh;
	}

	.pt-nav {
		padding-top: 20px;
	}
	
	.h1-fz {
		font-size: 50px;
	}

	.h2-m-b {
		margin-bottom: 35px;
	}

	.pt-search {
		padding-top: 20px;
	}

	.items {
		flex-direction: column;
		align-items: center;
	}

	.it-em {
		width: 50%;
		margin-bottom: 40px;
	}

	.news {
		flex-direction: column;
		align-items: center;
	}

	.news-width {
		width: 80%;
		margin-left: 0;
	}

	.news-order-1 {
		order: 1;
	}

	.news-order-2 {
		order: 2;
	}

	.news-order-3 {
		order: 3;
	}

	.news-order-4 {
		order: 4;
	}

	.mobile {
		flex-direction: column;
	}

	.mobile-order-1 {
		order: 1;
	}

	.mobile-order-2 {
		order: 2;
	}

	.mobile-width {
		width: 80%;
	}

	.footer-width {
		width: 50%;
	}

	.footer {
		width: 100%;
		flex-wrap: wrap;
	}

	.input {
		flex-direction: column;
		align-items: center;
	}

	.mr-0 {
		margin-right: 0px;
	}

	.main-input input {
	    padding: 17px 340px 17px 20px;
	}

	.mb-input {
		margin-bottom: 20px;
	}

	.access {
	  padding: 17px 126px;
	}
}


@media (min-width: 425px) and (max-width: 767px) {
	.container {
			width: 425px;
		}

	.first-screen {
		height: 72vh;
	}

	.flex-dir-col {
		flex-direction: column;
	}

	.justify-center-min {
		justify-content: center;
	}

	.order-1 {
		order: 1;
	}

	.order-2 {
		order: 2;
	}

	.order-3 {
		order: 3;
	}

	.justify-start-min {
		justify-content: flex-start;
	}

	.nav-a {
		margin-top: 10px;
		margin-left: 0px;
	}

	.nav {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 10px;
	}

	.pt-search {
		padding-top: 20px;
	}

	.h1-fz {
		font-size: 30px;
		line-height: 35px;
	}

	.h2-fz {
		font-size: 18px;
	}

	.fz-access {
		font-size: 12px;
	}

	.input-w {
		width: 80%;
	}

	.input {
		flex-direction: column;
		align-items: center;
	}

	.mr-0 {
		margin-right: 0px;
	}

	.mb-input {
		margin-bottom: 20px;
	}

	.access {
	  padding: 17px 65px;
	}

	.items {
		flex-direction: column;
		align-items: center;
	}

	.it-em {
		width: 80%;
		margin-bottom: 40px;
	}

	.tarif-fz {
		font-size: 12px;
	}

	.tarif {
		padding-top: 0px;
	}

	.news {
		flex-direction: column;
		align-items: center;
	}

	.news-width {
		width: 80%;
		margin-left: 0;
	}

	.news-order-1 {
		order: 1;
	}

	.news-order-2 {
		order: 2;
	}

	.news-order-3 {
		order: 3;
	}

	.news-order-4 {
		order: 4;
	}

	.btn-news {
	  padding: 15px 135px;
	}

	.mobile {
		flex-direction: column;
	}

	.mobile-order-1 {
		order: 1;
	}

	.mobile-order-2 {
		order: 2;
	}

	.mobile-width {
		width: 80%;
	}

	.btn-mobile {
	    padding: 17px 135px;
	}

	.footer-width {
		width: 80%;
	}

	.footer {
		width: 100%;
		flex-direction: column;
	}

	.input {
		flex-direction: column;
		align-items: center;
	}

	.mr-0 {
		margin-right: 0px;
	}

	.main-input input {
	  padding: 17px 340px 17px 20px;
	}

	.mb-input {
		margin-bottom: 20px;
	}

	.footer-padding {
		padding-bottom: 100px;
	}

	.footer-menu-flex {
		display: flex;
		flex-direction: column;
	}

	.footer-links-hr {
		margin-bottom: 20px;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.container {
			width: 380px;
		}

	.first-screen {
		height: 72vh;
	}

	.flex-dir-col {
		flex-direction: column;
	}

	.justify-center-min {
		justify-content: center;
	}

	.order-1 {
		order: 1;
	}

	.order-2 {
		order: 2;
	}

	.order-3 {
		order: 3;
	}

	.justify-start-min {
		justify-content: flex-start;
	}

	.nav-a {
		margin-top: 10px;
		margin-left: 0px;
	}

	.nav {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 10px;
	}

	.pt-search {
		padding-top: 20px;
	}

	.h1-fz {
		font-size: 30px;
		line-height: 35px;
	}

	.h2-fz {
		font-size: 18px;
	}

	.fz-access {
		font-size: 12px;
	}

	.input-w {
		width: 80%;
	}

	.input {
		flex-direction: column;
		align-items: center;
	}

	.mr-0 {
		margin-right: 0px;
	}

	.mb-input {
		margin-bottom: 20px;
	}

	.access {
	  padding: 17px 84px;
	}

	.items {
		flex-direction: column;
		align-items: center;
	}

	.it-em {
		width: 80%;
		margin-bottom: 40px;
	}

	.tarif-fz {
		font-size: 12px;
	}

	.tarif {
		padding-top: 0px;
	}

	.news {
		flex-direction: column;
		align-items: center;
	}

	.news-width {
		width: 80%;
		margin-left: 0;
	}

	.news-order-1 {
		order: 1;
	}

	.news-order-2 {
		order: 2;
	}

	.news-order-3 {
		order: 3;
	}

	.news-order-4 {
		order: 4;
	}

	.btn-news {
	  padding: 15px 115px;
	}

	.mobile {
		flex-direction: column;
	}

	.mobile-order-1 {
		order: 1;
	}

	.mobile-order-2 {
		order: 2;
	}

	.mobile-width {
		width: 80%;
	}

	.btn-mobile {
	    padding: 17px 135px;
	}

	.footer-width {
		width: 80%;
	}

	.footer {
		width: 100%;
		flex-direction: column;
	}

	.input {
		flex-direction: column;
		align-items: center;
	}

	.mr-0 {
		margin-right: 0px;
	}

	.main-input input {
    padding: 17px 260px 17px 20px;
	}

	.mb-input {
		margin-bottom: 20px;
	}

	.footer-padding {
		padding-bottom: 100px;
	}

	.footer-menu-flex {
		display: flex;
		flex-direction: column;
	}

	.footer-links-hr {
		margin-bottom: 20px;
	}

	.fz-h3 {
		font-size: 28px;
	}

	.subscribe {
	  padding: 12px 60px;
	}

	.search-form {	  
	  padding: 9px 169px 8px 14px;
	}

	.fz-h4 {
		font-size: 18px;
	}

	.news-text {
		font-size: 12px;
		line-height: 14px;
	}

	.footer-left {
		padding-left: 30px;
	}
}

@media (min-width: 320px) and (max-width: 374px) {
	.container {
			width: 320px;
		}

	.first-screen {
		height: 72vh;
	}

	.flex-dir-col {
		flex-direction: column;
	}

	.justify-center-min {
		justify-content: center;
	}

	.order-1 {
		order: 1;
	}

	.order-2 {
		order: 2;
	}

	.order-3 {
		order: 3;
	}

	.justify-start-min {
		justify-content: flex-start;
	}

	.nav-a {
		margin-top: 10px;
		margin-left: 0px;
	}

	.nav {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 10px;
	}

	.pt-search {
		padding-top: 20px;
	}

	.h1-fz {
		font-size: 30px;
		line-height: 35px;
	}

	.h2-fz {
		font-size: 18px;
	}

	.fz-access {
		font-size: 12px;
	}

	.input-w {
		width: 80%;
	}

	.input {
		flex-direction: column;
		align-items: center;
	}

	.mr-0 {
		margin-right: 0px;
	}

	.mb-input {
		margin-bottom: 20px;
	}

	.access {
	  padding: 17px 84px;
	}

	.items {
		flex-direction: column;
		align-items: center;
	}

	.it-em {
		width: 80%;
		margin-bottom: 40px;
	}

	.tarif-fz {
		font-size: 12px;
	}

	.tarif {
		padding-top: 0px;
	}

	.news {
		flex-direction: column;
		align-items: center;
	}

	.news-width {
		width: 80%;
		margin-left: 0;
	}

	.news-order-1 {
		order: 1;
	}

	.news-order-2 {
		order: 2;
	}

	.news-order-3 {
		order: 3;
	}

	.news-order-4 {
		order: 4;
	}

	.btn-news {
	  padding: 15px 90px;
	}

	.mobile {
		flex-direction: column;
	}

	.mobile-order-1 {
		order: 1;
	}

	.mobile-order-2 {
		order: 2;
	}

	.mobile-width {
		width: 80%;
	}

	.btn-mobile {
	    padding: 17px 100px;
	}

	.footer-width {
		width: 80%;
	}

	.footer {
		width: 100%;
		flex-direction: column;
	}

	.input {
		flex-direction: column;
		align-items: center;
	}

	.mr-0 {
		margin-right: 0px;
	}

	.main-input input {
    padding: 17px 260px 17px 20px;
	}

	.mb-input {
		margin-bottom: 20px;
	}

	.footer-padding {
		padding-bottom: 100px;
	}

	.footer-menu-flex {
		display: flex;
		flex-direction: column;
	}

	.footer-links-hr {
		margin-bottom: 20px;
	}

	.fz-h3 {
		font-size: 28px;
	}

	.subscribe {
	  padding: 12px 48px;
	}

	.search-form {	  
	  padding: 9px 169px 8px 14px;
	}

	.fz-h4 {
		font-size: 18px;
	}

	.news-text {
		font-size: 12px;
		line-height: 14px;
	}

	.footer-left {
		padding-left: 30px;
	}
}





























