html, body, h1, h2, h3, h4, h5, p, input {
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, sans-serif;
}

* {
	box-sizing: border-box;;
}

// Colors

$white: #fff;
$grey-link: #808080;
$grey-search-form-bg: #3C3B3D;
$grey-search-form-text: #808080;
$white-op:rgba($white, .1);
$green-main-btn-bg: #34C176;
$black-bg: #08020d;
$grey: #8C8C8C;
$orange: #F89202;
$line: #B8B8B8;
$date: #555555;
$btn-news: #E9E9E9;
$btn-mobile: #FF4157;
$color-grad1: #5328A1;
$color-grad2: #95390C;
$footer-links: #CACACA;
$hr: #EEEEEE;
$purple: #5328a1;
$bg-orange: #95390c;

$list1: $color-grad1 32.83%, $color-grad2 81.56%;

.color-line {
	color: $line;
}

.footer-links {
	color: $footer-links;
}

.color-hr {
	color: $hr;
}

.color-date {
	color: $date;
}

.active-link {
	color: $white;
}

.color-white {
	color: $white;
}

.color-grey {
	color: $grey;
}

.bg-btn-mobile {
	background-color: $btn-mobile;
}

.transp {
	background-color: transparent;
}

.main-input-bg-color {
	background-color: $white-op;
}

.color-orange {
	color: $orange;
}

.btn-green {
	background-color:$green-main-btn-bg;
}

.bg-black {
	background-color: $black-bg;
}

.bg-purple {
	background-color: $purple;
}

.bg-orange {
	background-color: $bg-orange;
}
 // Width, height

.w-50 {
	width: 50%;
}

.w-30 {
	width: 30%;
}

.height-582 {
	height: 582px;
}

.w-100 {
	width: 100%;
}

.logo {
	img {
		width: 20px;
		height: 20px;
	}
}

.w-25 {
	width: 25%;
}


.w-20 {
	width: 20%;
}

.w-10 {
	width: 10%;
}


// Margin

.mt-25 {
	margin-top: 25px;
}

.ml-4 {
	margin-left: 4px;
}

.mt-29 {
	margin-top: 29px;
}

.ml-113 {
	margin-left: 113px;
}

.mr-75 {
	margin-right: 75px;
}

.mr-30 {
	margin-right: 30px;
}

.mt-217 {
	margin-top: 217px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mr-30 {
	margin-right: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mr-20 {
	margin-right: 20px;
}

.mt-20 {
	margin-top: 20px;
}

.ml-60 {
	margin-left: 60px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-21 {
	margin-right: 21px;
}

.mr-26 {
	margin-right: 26px;
}

.mr-10 {
	margin-right: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-220 {
	margin-top: 220px;
}


// Padding

.pt-221 {
	padding-top: 221px;
}

.pt-25 {
	padding-top: 25px;
}

.pt-100 {
	padding-top: 100px;
}

.pb-51 {
	padding-bottom: 51px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-230 {
	padding-bottom: 230px;
}

.pt-223 {
	padding-top: 223px;
}

.pt-230 {
	padding-top: 230px;
}

.pl-11 {
	padding-left: 11px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pl-20 {
	padding-left: 20px;
}

.pr-20 {
	padding-right: 20px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-80 {
	padding-top: 80px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pt-250 {
	padding-top: 250px;
}
// Fonts

.fw-b {
	font-weight: bold;
}

.fz-11 {
	font-size: 11px;
}

.fz-60 {
	font-size: 60px;
}

.fz-12 {
	font-size: 12px;
}

.fz-14 {
	font-size: 14px;
}

.fz-13 {
	font-size: 13px;
}

.fz-38 {
	font-size: 38px;
}

.fz-24 {
	font-size: 24px;
}

.fz-30 {
	font-size: 30px;
}

.fz-22 {
	font-size: 22px;
}

.fz-18 {
	font-size: 18px;
}

.fz-16 {
	font-size: 16px;
}

.fz-30 {
	font-size: 30px;
}

.fz-18 {
	font-size: 18px;
}
// Line-height

.lh-13 {
	line-height: 13px;
}

.lh-70 {
	line-height: 70px;
}

.lh-35 {
	line-height: 35px;
}

.lh-45 {
	line-height: 45px;
}

.lh-28 {
	line-height: 28px;
}

.lh-60 {
	line-height: 60px;
}

.lh-19 {
	line-height: 19px;
}

// Flex

.dflex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.align-start {
	align-items: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

// Links

.text-decor-none {
	text-decoration: none;
}

.link {
	color: $grey-link;
}

// Border

.br-50 {
	border-radius: 50px;
}

.main-input-border {
	border: 2px solid $white-op;
}

.br-3 {
	border-radius: 3px;
}

.br-4 {
	border-radius: 4px;
}

.border-none {
	border: none;
}

.br-input {
	border: 2px solid rgba(255, 255, 255, 0.1);
}
// 

.pos-abs {
	position: absolute;
}

.pos-relat {
	position: relative;
}

// Оформление

.text-center {
	text-align: center;
}

.upper {
	text-transform: uppercase;
}

.border-n {
	border: none;
}

.outline-n {
	outline: none;
}

// Header

.left-0 {
	left: 0;
}

// Container

.container {
	width: 1200px;
	margin: 0 auto;
}

//  First Screen

.first-screen {
	background-image: url(../images/banner.png);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

// Catalog first Screen

.catalog-screen {
	background-image: url(../images/Morten_Harket.png);
	min-height: 545px;
	background-repeat: no-repeat;
	background-size: cover;
}

// Search Form

.search-form {
	background-color: $grey-search-form-bg;
	padding: 4px 217px 4px 13px;
	color: $grey-search-form-text;
}

// Pricing

.pricing-free {
	background-image: url(../images/subscribe_1.png);
}

.pricing-standart {
	background-image: url(../images/subscribe_2.png);
}

.pricing-premium {
	background-image: url(../images/subscribe_3.png);
}

// Form

.form {
	width: 570px;
}

// Form Input

.form-input {
	height: 50px;
	padding-left: 20px;
}

// Buttons

.btn {
	border: none;
	outline: none;
}

.btn-green {
	background-color: $green-main-btn-bg;
}	

.btn-access {
	font-size: 14px;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	width: 100%;
	height: 50px;
	text-transform: uppercase;
}

.btn-subscribe {
	border: 4px solid $white;
	font-size: 24px;
	color: $white;
	text-align: center;
	text-transform: uppercase;
	height: 70px;
	width: 100%;
}

.btn-news {
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: $grey;
	border: 1px solid $btn-news;
	height: 40px;
	text-align: center;
	width: 30%;
}


.btn-catalog {
	width: 15%;
	height: 50px;
	color: $white;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
}

.btn-purple {
	background-color: $purple;	
}

.btn-mix::before {
	font-family: "FontAwesome";
	content: '\f144';
	display: inline-block;
	color: $white;
	padding-right: 14px;
}

.btn-orange {
	background-color: $bg-orange;
}

.btn-favourites::before {
	font-family: "FontAwesome";
	content: '\f004';
	display: inline-block;
	color: $white;
	padding-right: 14px;
}

.btn-download {
	height: 50px;
	width: 25%;
}

// Headings


h2 {
	color: $white;
	text-transform: uppercase;
	font-size: 38px;
	text-align: center;
	padding-bottom: 51px;
	line-height: 45px;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	color: $white;
	line-height: 70px;
	text-transform: uppercase;
}

h3 {
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 25px;
	color: $white;
	margin-top: 20px;
}

.pricing {
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 52px;
	display: flex;
	flex-direction: column;
}

.pricing-title {
	text-transform: uppercase;
	color: $white;
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	// padding-top: 25px;
}

.disco {
	width: 80%;
	height: auto;
}

.songwriter {
	width: 80%;
	height: auto;
}

.disco-div {
	position: relative;
}

.disco-div::before {
	display: flex;
	content: url(../images/play-button.svg);
	position: absolute;
	top: 85%;
	left: 1%;
	width: 20px;
}

.outline-n {
	outline: none;
}

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

$direction: 89.02deg;

footer {
  @include gradient($direction, $list1);
}


img.news {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
}

.wrap {
	flex-wrap: wrap;
}

.song-img {
	width: 50px;
	height: 50px;
}

.w-80 {
	width: 80%;
}

.w-20 {
	width: 20%;
}

.w-48 {
	width: 48%;
}

.flex-wrap {
	flex-wrap: wrap;
}

.ml-60 {
	margin-left: 60px;
}

@media (max-width: 1023px) {
	.flex-dir-col {
		flex-direction: column;
	}

	.order-1-lg {
		order: 1;
	}

	.order-2-lg {
		order: 2;
	}

	.order-3-lg {
		order: 3;
	}

	.justify-start-lg {
		justify-content: flex-start;
	}

	.news-order-1-lg {
		order: 1;
	}

	.news-order-2-lg {
		order: 2;
	}

	.news-order-3-lg {
		order: 3;
	}

	.news-order-4-lg {
		order: 4;
	}

	.mobile-order-1-lg {
		order: 1;
	}

	.mobile-order-2-lg {
		order: 2;
	}

	.news-lg {
		flex-direction: column;
		align-items: center;
	}

	.news-width-lg {
		width: 80%;
		margin-left: 0;
	}

	.mobile-lg {
		flex-direction: column;
	}

	.pt-search-lg {
		padding-top: 20px;
	}

	.nav-lg {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 10px;
	}

	.mobile-width-lg {
		width: 80%;
	}

	.footer-lg {
		width: 100%;
		flex-wrap: wrap;
	}

	.mb-input-lg {
		margin-bottom: 20px;
	}

	.w-song-lg {
		width: 80%;
		margin: 15px auto;
	}

	.ml-113-lg {
		margin-left: 0;
	}

	.img-lg {
		display: flex;
		justify-content: center;
	}

	.news-align-lg {
		justify-content: center;
	}


}

@media (max-width: 767px) {
	.footer-width-md {
		width: 80%;
	}

	.footer-padding-md {
		padding-bottom: 100px;
	}

	.footer-menu-flex-md {
		display: flex;
		flex-direction: column;
	}

	.footer-links-hr-md {
		margin-bottom: 20px;
	}

	.song-w-md {
		width: 50%;
	}

	.btn-access-md {
		width: 50%;
	}

	.btn-news-md {
		width: 55%;
	}

	.btn-download-md {
		width: 20%;
	}	

	.btn-catalog-md {
		width: 40%;
	}

	.disco-width-md {
		width: 50%;
	}

	.input-md {
		flex-direction: column;
		align-items: center;
	}

	.footer-width-md {
		width: 80%;
	}

	.mr-0-md {
		margin-right: 0px;
	}

	.justify-center-md {
		justify-content: center;
	}
}


@media (min-width: 1024px) and (max-width: 1280px) {
	.container {
		width: 1024px;
	}

	.img-lg {
		display: flex;
	}
	
	.news-align-lg {
		justify-content: center;
	}

	.pr-20-lg {
		padding-right:20px;
	}

	.pl-20-lg {
		padding-left: 20px;
	}

	.btn-catalog-lg {
		width: 22%;
	}	

	.disco-div::before {
		top: 83%;
	}
}

// lg

@media (min-width: 768px) and (max-width: 1023px) {
	.container {
		width: 768px;
	}

	.nav-a-lg {
		margin-right: 43px;
		margin-left: 0px;
	}

	.pt-nav-lg {
		padding-top: 20px;
	}

	.h2-m-b-lg {
		margin-bottom: 35px;
	}

	.it-em-lg {
		width: 31%;
		margin-bottom: 40px;
	}

	.footer-width-lg {
		width: 50%;
	}

	.btn-catalog-lg {
		width: 22%;
	}

	.disco-div::before {
		top: 79%;
	}
}

// md

@media (min-width: 425px) and (max-width: 767px) {
	.container {
			width: 425px;
		}

	.nav-a-md {
		margin-top: 10px;
		margin-left: 0px;
	}

	.it-em-md {
		width: 80%;
		margin-bottom: 40px;
	}

	.disco-div::before {
		top: 80%;
	}
}

// s


@media (min-width: 375px) and (max-width: 424px) {
	.container {
			width: 375px;
	}

	.nav-a-s {
		margin-top: 10px;
		margin-left: 0px;
	}

	.it-em-s {
		width: 80%;
		margin-bottom: 40px;
	}

	.footer-left-s {
		padding-left: 30px;
	}

	.disco-div::before {
		top: 78%;
	}
}

// xs

@media (min-width: 320px) and (max-width: 374px) {
	.container {
			width: 320px;
		}

	.nav-a-xs {
		margin-top: 10px;
		margin-left: 0px;
	}

	.it-em-xs {
		width: 80%;
		margin-bottom: 40px;
	}

	.input {
		flex-direction: column;
		align-items: center;
	}

	.btn-access-xs {
		width: 100%;
	}

	.btn-news-xs {
		width: 100%;
	}

	.btn-download-xs {
		width: 100%;
	}	

	.w-100-xs {
		width: 100%;
	}

	.search-xs {
		width: 100%;
	}

	.mobile-xs {
		margin-left: 0px;
	}

	h1 {
		font-size: 30px;
		line-height: 35px;
	}

	h2 {
		font-size: 20px !important;
	}

	.btn-catalog-xs {
		width: 100%;
	}

	.flex-dir-xs {
		flex-direction: column;
	}

	.disco-div::before {
		top: 75%;
	}

	.btn-bottom-xs {
		margin-bottom: 25px;
	}

}





























