@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, p, input {
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto, sans-serif; }

* {
  box-sizing: border-box; }

.color-line {
  color: #B8B8B8; }

.footer-links {
  color: #CACACA; }

.color-hr {
  color: #EEEEEE; }

.color-date {
  color: #555555; }

.active-link {
  color: #fff; }

.color-white {
  color: #fff; }

.color-grey {
  color: #8C8C8C; }

.bg-btn-mobile {
  background-color: #FF4157; }

.transp {
  background-color: transparent; }

.main-input-bg-color {
  background-color: rgba(255, 255, 255, 0.1); }

.color-orange {
  color: #F89202; }

.btn-green {
  background-color: #34C176; }

.bg-black {
  background-color: #08020d; }

.bg-purple {
  background-color: #5328a1; }

.bg-orange {
  background-color: #95390c; }

.w-50 {
  width: 50%; }

.w-30 {
  width: 30%; }

.height-582 {
  height: 582px; }

.w-100 {
  width: 100%; }

.logo img {
  width: 20px;
  height: 20px; }

.w-25 {
  width: 25%; }

.w-20 {
  width: 20%; }

.w-10 {
  width: 10%; }

.mt-25 {
  margin-top: 25px; }

.ml-4 {
  margin-left: 4px; }

.mt-29 {
  margin-top: 29px; }

.ml-113 {
  margin-left: 113px; }

.mr-75 {
  margin-right: 75px; }

.mr-30 {
  margin-right: 30px; }

.mt-217 {
  margin-top: 217px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-16 {
  margin-bottom: 16px; }

.mr-30 {
  margin-right: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-45 {
  margin-bottom: 45px; }

.mb-40 {
  margin-bottom: 40px; }

.mr-20 {
  margin-right: 20px; }

.mt-20 {
  margin-top: 20px; }

.ml-60 {
  margin-left: 60px; }

.mr-40 {
  margin-right: 40px; }

.mr-21 {
  margin-right: 21px; }

.mr-26 {
  margin-right: 26px; }

.mr-10 {
  margin-right: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.pt-221 {
  padding-top: 221px; }

.pt-25 {
  padding-top: 25px; }

.pt-100 {
  padding-top: 100px; }

.pb-51 {
  padding-bottom: 51px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-230 {
  padding-bottom: 230px; }

.pt-223 {
  padding-top: 223px; }

.pt-230 {
  padding-top: 230px; }

.pl-11 {
  padding-left: 11px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-60 {
  padding-bottom: 60px; }

.pl-20 {
  padding-left: 20px; }

.pr-20 {
  padding-right: 20px; }

.pt-50 {
  padding-top: 50px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-50 {
  padding-bottom: 50px; }

.pt-250 {
  padding-top: 250px; }

.fw-b {
  font-weight: bold; }

.fz-11 {
  font-size: 11px; }

.fz-60 {
  font-size: 60px; }

.fz-12 {
  font-size: 12px; }

.fz-14 {
  font-size: 14px; }

.fz-13 {
  font-size: 13px; }

.fz-38 {
  font-size: 38px; }

.fz-24 {
  font-size: 24px; }

.fz-30 {
  font-size: 30px; }

.fz-22 {
  font-size: 22px; }

.fz-18 {
  font-size: 18px; }

.fz-16 {
  font-size: 16px; }

.fz-30 {
  font-size: 30px; }

.fz-18 {
  font-size: 18px; }

.lh-13 {
  line-height: 13px; }

.lh-70 {
  line-height: 70px; }

.lh-35 {
  line-height: 35px; }

.lh-45 {
  line-height: 45px; }

.lh-28 {
  line-height: 28px; }

.lh-60 {
  line-height: 60px; }

.lh-19 {
  line-height: 19px; }

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.text-decor-none {
  text-decoration: none; }

.link {
  color: #808080; }

.br-50 {
  border-radius: 50px; }

.main-input-border {
  border: 2px solid rgba(255, 255, 255, 0.1); }

.br-3 {
  border-radius: 3px; }

.br-4 {
  border-radius: 4px; }

.pos-abs {
  position: absolute; }

.pos-relat {
  position: relative; }

.text-center {
  text-align: center; }

.upper {
  text-transform: uppercase; }

.border-n {
  border: none; }

.outline-n {
  outline: none; }

.header-pos {
  left: 0; }

.container {
  width: 1200px;
  margin: 0 auto; }

.first-screen {
  background-image: url(../images/banner.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

.catalog-screen {
  background-image: url(../images/Morten_Harket.png);
  min-height: 545px;
  background-repeat: no-repeat;
  background-size: cover; }

.search-form {
  background-color: #3C3B3D;
  padding: 4px 217px 4px 13px;
  color: #808080; }

.pricing-free {
  background-image: url(../images/subscribe_1.png); }

.pricing-standart {
  background-image: url(../images/subscribe_2.png); }

.pricing-premium {
  background-image: url(../images/subscribe_3.png); }

.form {
  width: 570px; }

.form-input {
  height: 50px;
  padding-left: 20px; }

.btn {
  border: none;
  outline: none; }

.btn-green {
  background-color: #34C176; }

.btn-access {
  font-size: 14px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
  text-transform: uppercase; }

.btn-subscribe {
  border: 4px solid #fff;
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  height: 70px;
  width: 100%; }

.btn-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #8C8C8C;
  border: 1px solid #E9E9E9;
  height: 40px;
  text-align: center;
  width: 30%; }

.btn-catalog {
  width: 15%;
  height: 50px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px; }

.btn-purple {
  background-color: #5328a1; }

.btn-mix::before {
  font-family: "FontAwesome";
  content: '\f144';
  display: inline-block;
  color: #fff;
  padding-right: 14px; }

.btn-orange {
  background-color: #95390c; }

.btn-favourites::before {
  font-family: "FontAwesome";
  content: '\f004';
  display: inline-block;
  color: #fff;
  padding-right: 14px; }

.btn-download {
  height: 50px;
  width: 25%; }

h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  padding-bottom: 51px;
  line-height: 45px; }

h1 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  line-height: 70px;
  text-transform: uppercase; }

h3 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
  color: #fff;
  margin-top: 20px; }

.pricing {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.pricing-title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 28px; }

.disco {
  width: 80%;
  height: auto; }

.songwriter {
  width: 80%;
  height: auto; }

.disco-div {
  position: relative; }

.disco-div::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: url(../images/play-button.svg);
  position: absolute;
  top: 85%;
  left: 1%;
  width: 20px; }

.outline-n {
  outline: none; }

footer {
  background: -webkit-linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);
  background: -webkit-linear-gradient(0.98deg, #5328A1 32.83%, #95390C 81.56%);
  background: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%); }

img.news {
  width: 100%;
  /* ╤И╨╕╤А╨╕╨╜╨░ ╨║╨░╤А╤В╨╕╨╜╨║╨╕ */
  height: auto;
  /* ╨▓╤Л╤Б╨╛╤В╨░ ╨║╨░╤А╤В╨╕╨╜╨║╨╕ */ }

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.song-img {
  width: 50px;
  height: 50px; }

.w-80 {
  width: 80%; }

.w-20 {
  width: 20%; }

.w-48 {
  width: 48%; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (min-width: 1024px) and (max-width: 1280px) {
  .container {
    width: 1024px; }

  .h1-fz {
    font-size: 55px; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px; }

  .flex-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .justify-start-min {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .nav-a {
    margin-right: 43px;
    margin-left: 0px; }

  .pt-nav {
    padding-top: 20px; }

  .h1-fz {
    font-size: 50px; }

  .h2-m-b {
    margin-bottom: 35px; }

  .pt-search {
    padding-top: 20px; }

  .it-em {
    width: 31%;
    margin-bottom: 40px; }

  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .news-width {
    width: 80%;
    margin-left: 0; }

  .news-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .news-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .news-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .news-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .mobile-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .mobile-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .mobile-width {
    width: 80%; }

  .footer-width {
    width: 50%; }

  .footer {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .mr-0 {
    margin-right: 0px; }

  .mb-input {
    margin-bottom: 20px; }

  .access {
    padding: 17px 218px; }

  .w-song {
    width: 80%;
    margin: 15px auto; }

  .h2-center {
    text-align: center; }

  .disco-justify {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .catalog-justify {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .catalog-align {
    text-align: center; }

  .ml-60 {
    margin-left: 60px; }

  .ml-60-adapt {
    margin-left: 60px; }

  .btn-adapt {
    width: 22%; } }
@media (min-width: 425px) and (max-width: 767px) {
  .container {
    width: 425px; }

  .flex-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .justify-center-min {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .justify-start-min {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .nav-a {
    margin-top: 10px;
    margin-left: 0px; }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px; }

  .pt-search {
    padding-top: 20px; }

  .h1-fz {
    font-size: 30px;
    line-height: 35px; }

  .h2-fz {
    font-size: 18px; }

  .input-w {
    width: 80%; }

  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .mr-0 {
    margin-right: 0px; }

  .mb-input {
    margin-bottom: 20px; }

  .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .it-em {
    width: 80%;
    margin-bottom: 40px; }

  .tarif-fz {
    font-size: 12px; }

  .tarif {
    padding-top: 0px; }

  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .news-width {
    width: 80%;
    margin-left: 0; }

  .news-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .news-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .news-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .news-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .mobile-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .mobile-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .mobile-width {
    width: 80%; }

  .footer-width {
    width: 80%; }

  .footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .mr-0 {
    margin-right: 0px; }

  .mb-input {
    margin-bottom: 20px; }

  .footer-padding {
    padding-bottom: 100px; }

  .footer-menu-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer-links-hr {
    margin-bottom: 20px; }

  .w-song {
    width: 80%;
    margin: 15px auto; }

  .h2-center {
    text-align: center; }

  .disco-justify {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .catalog-justify {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .catalog-align {
    text-align: center; }

  .song-w {
    width: 50%; }

  .justify-center-min {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .btn-access {
    width: 50%; }

  .btn-news {
    width: 55%; }

  .news-align {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .btn-download {
    width: 40%; }

  .btn-catalog {
    width: 40%; }

  .disco-width {
    width: 50%; } }
@media (min-width: 375px) and (max-width: 424px) {
  .container {
    width: 375px; }

  .flex-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .justify-center-min {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .justify-start-min {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .justify-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .nav-a {
    margin-top: 10px;
    margin-left: 0px; }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px; }

  .pt-search {
    padding-top: 20px; }

  .h1-fz {
    font-size: 30px;
    line-height: 35px; }

  .h2-fz {
    font-size: 18px; }

  .fz-access {
    font-size: 12px; }

  .input-w {
    width: 80%; }

  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .mr-0 {
    margin-right: 0px; }

  .mb-input {
    margin-bottom: 20px; }

  .it-em {
    width: 80%;
    margin-bottom: 40px; }

  .tarif-fz {
    font-size: 12px; }

  .tarif {
    padding-top: 0px; }

  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .news-width {
    width: 80%;
    margin-left: 0; }

  .news-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .news-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .news-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .news-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .mobile-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .mobile-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .mobile-width {
    width: 80%; }

  .footer-width {
    width: 80%; }

  .footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .mr-0 {
    margin-right: 0px; }

  .mb-input {
    margin-bottom: 20px; }

  .footer-padding {
    padding-bottom: 100px; }

  .footer-menu-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer-links-hr {
    margin-bottom: 20px; }

  .fz-h2 {
    font-size: 28px; }

  .fz-h4 {
    font-size: 18px; }

  .news-text {
    font-size: 12px;
    line-height: 14px; }

  .footer-left {
    padding-left: 30px; }

  .w-song {
    width: 80%;
    margin: 15px auto; }

  .h2-center {
    text-align: center; }

  .disco-justify {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .catalog-justify {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .catalog-align {
    text-align: center; }

  .song-w {
    width: 50%; }

  .justify-center-min {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .btn-access {
    width: 50%; }

  .btn-news {
    width: 55%; }

  .news-align {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .btn-download {
    width: 40%; }

  .disco-width {
    width: 50%; } }
@media (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 320px; }

  .flex-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .justify-center-min {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .justify-start-min {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .nav-a {
    margin-top: 10px;
    margin-left: 0px; }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px; }

  .pt-search {
    padding-top: 20px; }

  .h1-fz {
    font-size: 30px;
    line-height: 35px; }

  .h2-fz {
    font-size: 18px; }

  .fz-access {
    font-size: 12px; }

  .input-w {
    width: 80%; }

  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .mr-0 {
    margin-right: 0px; }

  .mb-input {
    margin-bottom: 20px; }

  .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .it-em {
    width: 80%;
    margin-bottom: 40px; }

  .tarif-fz {
    font-size: 12px; }

  .tarif {
    padding-top: 0px; }

  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .news-width {
    width: 80%;
    margin-left: 0; }

  .news-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .news-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .news-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .news-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .mobile-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .mobile-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .mobile-width {
    width: 80%; }

  .footer-width {
    width: 80%; }

  .footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .mr-0 {
    margin-right: 0px; }

  .mb-input {
    margin-bottom: 20px; }

  .footer-padding {
    padding-bottom: 100px; }

  .footer-menu-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer-links-hr {
    margin-bottom: 20px; }

  .fz-h3 {
    font-size: 28px; }

  .fz-h4 {
    font-size: 18px; }

  .news-text {
    font-size: 12px;
    line-height: 14px; }

  .footer-left {
    padding-left: 30px; }

  .w-song {
    width: 80%;
    margin: 15px auto; }

  .h2-center {
    text-align: center; }

  .disco-justify {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .catalog-justify {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .catalog-align {
    text-align: center; }

  .song-w {
    width: 50%; }

  .justify-center-min {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .btn-access {
    width: 50%; }

  .btn-news {
    width: 100%; }

  .news-align {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .btn-download {
    width: 100%; }

  .w-100-min {
    width: 100%; }

  .search-min {
    width: 100%; }

  .mobile-img {
    margin-left: 0px; }

  h1 {
    font-size: 30px;
    line-height: 35px; }

  h2 {
    font-size: 20px !important; }

  .disco-width {
    width: 50%; }

  .btn-catalog {
    width: 100%; }

  .flex-dir-min {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
